<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
    <div class="navbar-header">
      <%= link_to 'OFFERBUD', root_path, id: 'logo', class: 'badge badge-warning' %>
    </div>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Strona główna', root_path, class: 'navbar-link' %></li>
        <li><%= link_to 'O nas', home_about_path, class: 'navbar-link' %></li>
        <li><%= link_to 'Lista ofert', offers_path, class: 'navbar-link' %> </li>
        
        <% if user_signed_in? %>
          <li><%= link_to 'Edycja profilu', edit_user_registration_path, class: 'navbar-link' %></li>
          <li><%= link_to 'Wylogowanie', destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
          <li><%= link_to 'Nowa oferta', new_offer_path, class: 'navbar-link' %> </li>
        <% else %>
          <li><%= link_to 'Logowanie', new_user_session_path, class: 'navbar-link' %></li>
          <li><%= link_to 'Rejestracja', new_user_registration_path, class: 'navbar-link' %></li>
        <% end %>
        
    </ul>
  </div>
  
</div>
</nav>

<div id = "footer">
  Copyright &copy; 2018 | Anna Jędrzejek &diams; | Find us on : 
       
      <i class="fa fa-google-plus"></i>
      <%= link_to 'Google+', "https://www.plus.google.com/", class: "badge badge-light" %>
      <i class="fa fa-facebook"></i>
      <%= link_to 'Facebook', "https://www.facebook.com/", class: "badge badge-light" %>
      <i class="fa fa-twitter"></i>
      <%= link_to 'Twitter', "https://www.twitter.com/", class: "badge badge-light" %>
</div>
