
<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, "Tytuł oferty" %><br>
    <%= f.text_field :description %>
  </div>
   <div class="form-group">
    <%= f.label :place, "Obszar działalności" %><br>
    <%= f.text_field :place %>
  </div>
     <div class="form-group">
    <%= f.label :Nazwa_Firmy, "Nazwa Firmy" %><br>
    <%= f.text_field :Nazwa_Firmy %>
  </div>
     <div class="form-group">
    <%= f.label :Email, "Adres email" %><br>
    <%= f.text_field :Email %>
  </div>
     <div class="form-group">
    <%= f.label :Telefon, "Telefon" %><br>
    <%= f.text_field :Telefon %>
  </div>
     <div class="form-group">
    <%= f.label :Adres, "Adres Firmy" %><br>
    <%= f.text_field :Adres %>
  </div>
  <div class="actions">
    <%= f.submit "Utwórz ofertę" %>
  </div>
<% end %>
