<p id="notice"><%= notice %></p>

<div id="log">
  <h1>Lista ofert</h1>
</div>

<%= form_tag(offers_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Szukaj oferty" %>
<%= submit_tag "Szukaj" %>
<% end %>

    <% @offers.each do |offer| %>
  
        <%= offer.description %><br/>
        <%= offer.place %><br/>
        <%= offer.Nazwa_Firmy %><br/>
        <%= offer.Email %><br/>
        <%= offer.Telefon %><br/>
        <%= offer.Adres %><br>
        <%= image_tag offer.avatar.url (:medium) %><br>
        <%= link_to 'Wyświetl', offer %><br/>
        <% if offer.user == current_user %>
          <%= link_to 'Edytuj', edit_offer_path(offer) %><br/>
          <%= link_to 'Usuń', offer, method: :delete, data: { confirm: 'Jesteś pewien?' } %><br/>
        <% end %>
    <% end %>
    <br>
<%= link_to 'Nowa oferta', new_offer_path %>


